/* line 1, ../sass/cartas.scss */
html, body {
  padding: 0;
  margin: 0;
}

/* line 6, ../sass/cartas.scss */
html {
  font-size: 10px;
  line-height: 1.2em;
}

/* line 11, ../sass/cartas.scss */
body {
  font-size: 0;
  line-height: 0;
}

/* line 19, ../sass/cartas.scss */
#carta, #carta .frente, #carta .verso {
  width: 476px;
  height: 100vh;
  position: absolute;
  background: #fff;
  margin: auto;
  left: 0;
  right: 0;
}
/* line 40, ../sass/cartas.scss */
#carta .frente {
  font-size: 1.85rem;
  line-height: 1.2;
  color: #FFF;
  border: solid 2.5rem #000;
  box-sizing: border-box;
  background-size: contain;
}
/* line 50, ../sass/cartas.scss */
#carta .frente article {
  box-sizing: border-box;
  border: solid .4rem #000;
  border-radius: 5px;
  width: 90%;
}
/* line 56, ../sass/cartas.scss */
#carta .frente article.infos {
  margin: 2rem auto 9px;
  height: 4.3rem;
  padding: 0.5rem;
  line-height: 1.5;
}
/* line 62, ../sass/cartas.scss */
#carta .frente article.infos .categoria {
  float: left;
}
/* line 66, ../sass/cartas.scss */
#carta .frente article.infos .xp {
  float: right;
}
/* line 70, ../sass/cartas.scss */
#carta .frente article.thumb {
  margin: 0 auto 9px;
  height: 20rem;
  background: center no-repeat;
  background-color: #FFF;
}
/* line 76, ../sass/cartas.scss */
#carta .frente article.titulo {
  margin: 0 auto 9px;
  height: 5rem;
  padding: 0.5rem;
}
/* line 81, ../sass/cartas.scss */
#carta .frente article.conteudo {
  margin: 0 auto 9px;
  height: 20rem;
  padding: 0.5rem;
  overflow-y: auto;
}
/* line 89, ../sass/cartas.scss */
#carta .frente.saude {
  background: url("../imgs/bg-saude.png");
}
/* line 91, ../sass/cartas.scss */
#carta .frente.saude .thumb {
  background-image: url("../imgs/icone_saude.png");
}
/* line 95, ../sass/cartas.scss */
#carta .frente.financeiro {
  background: url("../imgs/bg-financeiro.png");
}
/* line 97, ../sass/cartas.scss */
#carta .frente.financeiro .thumb {
  background-image: url("../imgs/icone_financeiro.png");
}
/* line 101, ../sass/cartas.scss */
#carta .frente.profissional {
  background: url("../imgs/bg-profissional.png");
}
/* line 103, ../sass/cartas.scss */
#carta .frente.profissional .thumb {
  background-image: url("../imgs/icone_profissional.png");
}
/* line 107, ../sass/cartas.scss */
#carta .frente.psicologico {
  background: url("../imgs/bg-psicologico.png");
}
/* line 109, ../sass/cartas.scss */
#carta .frente.psicologico .thumb {
  background-image: url("../imgs/icone_psicologico.png");
}
/* line 113, ../sass/cartas.scss */
#carta .frente.relacoes {
  background: url("../imgs/bg-relacoes.png");
}
/* line 115, ../sass/cartas.scss */
#carta .frente.relacoes .thumb {
  background-image: url("../imgs/icone_relacoes.png");
}
/* line 119, ../sass/cartas.scss */
#carta .frente.etica {
  background: url("../imgs/bg-etica.png");
}
/* line 121, ../sass/cartas.scss */
#carta .frente.etica .thumb {
  background-image: url("../imgs/icone_etica.png");
}
/* line 125, ../sass/cartas.scss */
#carta .frente.click {
  background: #FFD700;
}
/* line 127, ../sass/cartas.scss */
#carta .frente.click .thumb {
  background-image: url("../imgs/icone_: .png");
}
/* line 132, ../sass/cartas.scss */
#carta .verso {
  border: 0;
  outline: none;
  background: url("../imgs/verso_carta.jpg") center no-repeat;
  background-size: contain;
}
/* line 140, ../sass/cartas.scss */
#carta .verso .bt {
  background: #C9C73A;
  padding: 10px;
  font-size: 20px;
  color: #FFF;
  border-radius: 5px;
}

/* entire container, keeps perspective */
/* line 153, ../sass/cartas.scss */
#carta {
  perspective: 1000px;
}

/* flip the pane when hovered */
/* line 157, ../sass/cartas.scss */
#carta.flipada .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
/* line 167, ../sass/cartas.scss */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide verso of pane during swap */
/* line 175, ../sass/cartas.scss */
.frente, .verso {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* frente pane, placed above verso */
/* line 184, ../sass/cartas.scss */
.frente {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(180deg);
}

/* verso, initially hidden pane */
/* line 191, ../sass/cartas.scss */
.verso {
  transform: rotateY(0deg);
}

/* line 195, ../sass/cartas.scss */
header {
  text-align: center;
  padding: 20px 0;
}
