/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html {
	font-size: 10px;
    font-family: 'Myriad Pro';
}

body {
    overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	max-width:1200px;
	padding: 0 2rem;
	box-sizing:border-box;
	margin: auto;
	position: relative;
}

#header {
	#menu {
	    margin-top: -5.1rem;
	    background: rgba(255,255,255,0.4);
	    position: relative;
	    z-index: 1;
	    border-top: solid 2px #FFF; 
	    padding-bottom: 1.2rem;

		ul {
			text-align: justify;

			&:after, & > li:after {
				content: "";
				width: 100%;
				display: inline-block;
			}

			& > li {
				width: 15rem; /* Declare your value. Can be in relative units. */
				display: inline-block;
				vertical-align: top;
    			text-align: center;

				/* IE fix. */
				*display: inline;
				zoom: 1;
			}

			button {
				outline: none;
				background: none;
				border: none; 
				transform: translateY(50%);
			    font-weight: bold;
			    color: #FFF;
			    font-size: 2rem;
			    cursor: pointer; 
			    margin-top: -.5rem;

				&::after {
				    display: block;
				    content: '';
				    width: 0;
				    height: 0;
				    border: solid 5px transparent;
				    margin: auto;
				    border-top-color: transparent;
				}

				&:hover::after {
				    border-top-color: #FFF;
				}
			}
		}
	}

	#video {
		position: relative;

		&::after {
		    width: 100%;
		    height: 100%;
		    background: url('../imagens/losangos.png');
		    display: block;
		    position: absolute;
		    content: '';
		    top: 0;
		}
	}
}

section {
	font-size: 2.7rem;
	padding-top: 9.7rem;

	hgroup {
		text-align: center;

		.titulo{
			font-size: 6.9rem;
			margin-bottom: 3.1rem;
			text-transform: uppercase;
		}
		.subtitulo{
			font-size: 3.7rem;
			margin-bottom: 6.6rem;
		}
	}
}

img {
    max-width: 100%;
}

#sobre {
	p {
	    max-width: 92.5rem;
	    margin: auto;
	    text-align: center;
	    margin-bottom: 2rem;
	}
}

#experimentos {
	background: url(../imagens/bg_experimentos.png);
	padding-top: 16.2rem;
}

#videos {
	text-align: center;

	li {
		padding-bottom: 45%;
	    display: table;
	    position: relative;
	    width: 100%;

	    iframe {
		    width: 100%;
		    height: 100%;
		    left: 0;
		    position: absolute;
		    top: 0;
	    }
	}
}

#quem_somos {
	display: table;
	width: 100%;
	position: relative;
    height: 130vh;

	.tem_texto {
		max-width: 52.4rem;
		float: left;

		p {
			margin-bottom: 2rem;
		}
	}

	img {
		position: absolute;
	    top: -14rem;
	    right: -12rem;
	}
}

#contato {
	.redes {
		font-size: 0;
		li {
			width: 25%;
			display: inline-block;
			text-align: center;
			height: 12rem;
			transition: opacity .2s ease-out;

			&.twitter {
				background: #55acee url(../imagens/twitter.jpg) no-repeat;
			}
			&.youtube {
				background: #cf3427 url(../imagens/youtube.jpg) no-repeat;
			}
			&.facebook {
				background: #3a589b url(../imagens/facebook.jpg) no-repeat;
			}
			&.instagram {
				background: #517fa6 url(../imagens/instagram.jpg) no-repeat;
			}

			a {
			    display: block;
			    width: 100%;
			    height: 100%;
			    background: transparent;
			}
		}

		&:hover {
			li {
				opacity: .5;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}