<html data-ng-app="quanchaka">
  <head>
    <title>Quanchaka</title>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body data-ng-controller="main">
    <h1>Cadastro de carta</h1>
    <form action="">
      <label for="titulo">Titulo</label>
      <input type="text" ng-model="carta.titulo">
    
      <button ng-click="escreveCarta()">salvar</button>
      
      <hr>
      Categorias: <button type="button" ng-click="adicionarCategoria()">Adicionar categoria</button> <br>
      <ul>
        <li ng-repeat="categoria in carta.categorias track by $index">
          <label>Categoria</label>
          <!-- <input type="text" ng-model="categoria.nome">  -->
          <select ng-model="categoria.nome">
            <option ng-repeat="cat in categorias track by $index" value="{{cat}}">{{cat}}</option>
          </select>
          <button ng-click="removerCategoria($index)">Remover categoria</button><br>


          <h3>Fase infantil</h3>
          <label>justificativa</label> <input type="text" class="justificativa" ng-model="categoria.infancia.justificativa">
          <label>pontos</label><input type="number" class="pontos" ng-model="categoria.infancia.pontos">
          <label>disponivel</label><input type="checkbox" ng-checked="categoria.infancia.disponivel" ng-model="categoria.infancia.disponivel">
          <br>
          <h3>Fase juventude</h3>
          <label>justificativa</label> <input type="text" class="justificativa" ng-model="categoria.juventude.justificativa">
          <label>pontos</label><input type="number" class="pontos" ng-model="categoria.juventude.pontos">
          <label>disponivel</label><input type="checkbox" ng-checked="categoria.juventude.disponivel" ng-model="categoria.juventude.disponivel">
          <br>
          <h3>Fase adulta</h3>
          <label>justificativa</label> <input type="text" class="justificativa" ng-model="categoria.adulto.justificativa">
          <label>pontos</label><input type="number" class="pontos" ng-model="categoria.adulto.pontos">
          <label>disponivel</label><input type="checkbox" ng-checked="categoria.adulto.disponivel" ng-model="categoria.adulto.disponivel">
          <br>
          <h3>Fase velhice</h3>
          <label>justificativa</label> <input type="text" class="justificativa" ng-model="categoria.velhice.justificativa">
          <label>pontos</label><input type="number" class="pontos" ng-model="categoria.velhice.pontos">
          <label>disponivel</label><input type="checkbox" ng-checked="categoria.velhice.disponivel" ng-model="categoria.velhice.disponivel">
          <hr>
        </li>
      </ul>
    </form>

    
    <div id="atuais">
      <h2>Cartas já cadastradas</h2>
      <input type="search" ng-model="busca" placeholder="procurar">
      <ul>
        <li ng-repeat="carta in cartas | filter: busca">
          {{carta.titulo}}
        </li>
      </ul>
    </div>


    <script src="js/firebase.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/cadastro.js"></script>
  </body>
</html>