<html data-ng-app="quanchaka">
	<head>
		<title>Quanchaka</title>
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="stylesheets/cartas.css">
	</head>
	<body data-ng-controller="carta">
		<h1>Carta</h1>

		<div id="carta" ng-class="{'flipada': mostraCarta}">
			<div class="flipper">
				<div class="frente {{carta.classe}}">
					<article class="infos">
						<div class="xp" ng-click="proximaJogada()">XP: {{carta.xp}}</div>
					</article>
					<article class="thumb"></article>

					<!-- <article class="titulo"></article> -->

					<article class="conteudo">
						{{carta.titulo}}

						<div class="categoriasAfetadas" ng-if="!carta.opcoes">
							<ul>
								<li ng-repeat="categoria in carta.categorias">
									{{categoria.nome}}: {{categoria[etapa].pontos}}
								</li>
							</ul>
						</div>

						<div class="opcoes" ng-if="carta.opcoes">
							<ul>
								<li ng-repeat="opcao in carta.opcoes">
									<strong>{{opcao.nome}}</strong>
									<ul>
										<li ng-repeat="categoria in opcao.categorias">
											{{categoria.nome}}: {{categoria[etapa].pontos}}
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</article>

					<div id="fimDeJogo" ng-if="fimDeJogo">
						Fim de jogo!
						<button ng-click="recomecarJogo()">Recomeçar jogo</button>
					</div>
				</div>

				<button class="verso" ng-click="sorteiaCarta()"></button>
			</div>
		</div>

		<script src="js/firebase.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/carta.js"></script>
	</body>
</html>